.story {
    width: 100%;
    margin-bottom: 2em;
    min-width: 768px;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

body {
    margin: 0 0;
    width: 100%;
    font-weight: 400;
}

body {
    font-family: Georgia,Garamond,serif;
    font-size: 14px;
    line-height: 1.3;
    color: #333;
    background-color: #fff;
}

.header .header-inner {
    padding-top: 10px;
    padding-bottom: 20px;
    color: #333;
    background-color: #fafafa;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1em;
}

.container  {
    position: relative;  
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 750px;
}

.text-center {
    text-align: center;
}


.header .container .title {
    position: relative;
    bottom: 0;
    left: 0;
}

.clearfix:before, .clearfix:after, .container:before, .container:after, .row:before, .row:after {
    content: " ";
    display: table;
}

.header .container .title h1 {
    font-size: 32px;
    margin-bottom: .1em;
}

:before, :after {
    box-sizing: border-box;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 18px;
    margin-bottom: 9px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h4, .h4 {
    font-size: 18px;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 9px;
    margin-bottom: 9px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
}


.header .container .title h2 {
    margin-top: .1em;
    margin-bottom: 3em;
    font-size: 14px;
    font-weight: 200;
}	

.main-1 {
    width: 100%;
}

/*.main-1 {
    float: left;
} */

.main-1{
    position: relative;
    min-height: 1px;
    padding-left: 95px;
    padding-right: 15px;
}

.full-width {
    width: 100%;
    margin-bottom: 3em;
    min-width: 768px;
}

p {
    text-align: justify;
}

p {
    margin: 0 0 9px;
}

@media (max-width: 991px)
.fixed-container {
    text-align: center;
}
@media (max-width: 991px)
.fixed-container .fixed-left {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    max-width: 80%;
}

.fixed-container .fixed-left {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    left: 0;
    top: 0;
    position: relative;
    z-index: 1;
    width: auto;
    //max-width: 800px;
    vertical-align: top;
    text-align: center;
    overflow-y: auto;
    //max-height: 100%;
}


.counties {
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

.q0-9 { fill:#fff5eb; }
.q1-9 { fill:#fee6ce; }
.q2-9 { fill:#fdd0a2; }
.q3-9 { fill:#fdae6b; }
.q4-9 { fill:#fd8d3c; }
.q5-9 { fill:#f16913; }
.q6-9 { fill:#d94801;}
.q7-9 { fill:#a63603; }
.q8-9 { fill:#7f2704; }

div.tooltip {

    width:auto;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4) pointer-events: none;
    position: absolute;
    z-index: +1;
}

.county-label {
  font-family: Georgia,Garamond,serif;
  font-size: 14px;
  font-weight: 500;
  font: bold;
}

.axis text {
	font: 10px sans-serif;
}

.axis line, .axis path {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

#key    {
	position: relative;
	top:10px;
	left:10px;
}

select {
    -webkit-appearance: none;
    padding-left: 10px;
    border-radius: 0;
    font-size: 12px;
    height: 30px;
    color: #333;    
    border-bottom: 1px solid #999;
    background: url(../img/arrow-down.png) no-repeat 98%;
    background-color: #ffffff;
    background-size: 10px;
}
select {
    margin: 0 0 1em 0;
}
.select-county {
    width: 100%;
}
.select-obese {
    width: 150px;
}
select {
    text-transform: none;
}
select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
.left {
    max-width: 400px;
}

.right {
	max-width: 400px;
    clear: none;
    
	float:  right;
    /*vertical-align: top;*/
}

.bar {
    fill: steelblue;
    }

.x.axis path {
/*display: none;*/
}

.menu_align{
   text-align: left;
   width:150px;
}

.menu_alignC{
   text-align: center;
   
}

#clear{
	clear:both;
}

path{
	fill: none;
	stroke-width: 2;
	stroke: #000;
}

.tab_container{
    padding:10px;
    /*width = 1300px;*/
    /*background-color: red;*/
    margin:auto;
}

.menuL{
    /*width:100px;*/
    float:left;
}

.menuR{
    /*width:100px;*/
    float:right;
}

.left_menu{
    width:100px;
    /*float:left;*/
}
.chart{
    float:left;
}

.interaction-all {
    text-align: center;
}

#tab_tooltip {
    position: absolute;
    width:auto;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4) pointer-events: none;
}
#tab_tooltip.hidden {
    opacity: 0;
}
#tab_tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}

#video{
    padding:20;
    text-align: center;
}
